/* import font family */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

/* Shared Common Styles */
* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #FF5400;
    --theme-gray: rgba(19, 19, 24, 0.70);
    --theme-black: #131318;
}

body {
    font-family: 'Mulish', sans-serif;
}

h1,
h2,
h3 {
    color: var(--theme-black);
}

.primary-title {
    color: var(--theme-black);
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
}

p {
    color: var(--theme-gray);
}

.max-page-width {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

button {
    background-color: var(--primary-color);
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    width: 174px;
    height: 52px;
    border: none;
}

/* header section */
header {
    padding-bottom: 100px;
}

/* nav section */
nav,
.company-name,
.menu-bar ul {
    display: flex;
    align-items: center;
}

nav {
    justify-content: space-between;
    margin-top: 52px;
    margin-bottom: 49px;
}

.company-name {
    color: var(--theme-black);
    font-size: 32px;
    font-weight: 800;
}

.company-name img {
    margin-right: 17px;
}

.company-name h1 span {
    color: var(--primary-color);
}

.menu-bar img {
    display: none;
}

.menu-bar ul {
    list-style-type: none;
}

.menu-bar ul li {
    padding-left: 44px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: var(--theme-gray);
    font-size: 18px;
    font-weight: 400;
}

.menu-bar a span {
    color: var(--primary-color);
}

.header-section {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('/images/lake-view.png');
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 185px;
}

.header-section h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.header-section p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.address-search-form form {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    border-radius: 8px;
    padding: 16px;
    background: rgba(255, 255, 255, 0.30);
}

.address-search-form form input,
.address-search-form form select {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: none;
    color: var(--theme-gray);
    font-size: 16px;
    font-weight: 400;
    padding: 16px;
}

.address-search-form button {
    display: inline-flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    font-size: 16px;
}

/* our-popular-tours style */
.our-popular-tours {
    display: flex;
    gap: 105px;
    justify-content: space-between;
    text-align: left;
    line-height: 28px;
    padding-bottom: 100px;
}

.popular-tours-column-1 p {
    margin: 20px 0;
}

.popular-tours-column-1 #ul11 {
    padding-left: 50px;
    color: var(--theme-gray);
}

.popular-tours-column-2 img {
    border-radius: 16px;
    width: 540px;
    height: 550px;
}

/* choose-your-destination style */
.choose-your-destination {
    margin-bottom: 80px;
}

.choose-your-destination p {
    margin: 20px 20%;
}

.img-row {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
}

.img-row img {
    width: 100%;
}

/* why-choose-us style */
.why-choose-us {
    padding-bottom: 80px;
}

.why-choose-us .choose-us-des {
    margin: 20px 20%;
}

.choose-us-cards {
    text-align: left;
}

.choose-row-1 {
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 24px;
}

.choose-card {
    width: calc(100% - 24px);
    height: 220px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    margin-bottom: 24px;
    padding: 32px;
}

.card-2 {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.card-3 {
    width: calc(50% - 12px);
}

.choose-card h3 {
    font-size: 24px;
    font-weight: 800;
    margin: 32px 0;
}

.choose-row-2 {
    display: flex;
    justify-content: center;
}

/* newsletter style */
.newsletter {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding-bottom: 100px;
}

.newsletter-form h2 {
    color: var(--theme-black);
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 20px;
}

.newsletter-form hr {
    background: rgba(19, 19, 24, 0.05);
    margin: 24px auto;
}

.newsletter-form {
    width: 394px;
    height: 342px;
    border-radius: 16px;
    border: 1px solid var(--primary-color);
    padding: 40px;
    text-align: left;
}

.newsletter-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.newsletter-form form input {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-bottom: 16px;
    border: none;
}

.newsletter-form form input::placeholder {
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
}

.newsletter-form form button {
    width: 100%;
}

.newsletter-column-2 {
    width: 672px;
    height: 422px;
    border-radius: 16px;
    background-image: url('/images/mountain-water.png');
    position: relative;
}

.save-up-discount {
    background-color: var(--primary-color);
    width: 324px;
    height: 120px;
    position: absolute;
    bottom: 50px;
    right: 10px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
}

.save-up-discount p {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    padding-top: 20px;
}

.save-up-discount h3 {
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
}

/* footer-section style */
footer {
    background: rgba(19, 19, 24, 0.05);
}

.footer-section {
    padding: 100px 0;
}

.footer-section .company-name {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.footer-section p {
    margin: 30px 20%;
}

.social-link ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.footer-section hr {
    width: 70%;
    margin: 30px auto;
    background: rgba(19, 19, 24, 0.10);
}

.copy-right {
    font-family: 'Inter';
}


/* responsive mobile device style */
@media only screen and (max-width: 600px) {

    .primary-title {
        font-size: 20px;
        line-height: 40px;
    }

    .max-page-width {
        margin: 0 20px;
    }

    /* nav section */
    .company-name {
        font-size: 21.543px;
    }

    .menu-bar ul {
        display: none;
    }

    .menu-bar img {
        display: block;
    }

    .header-section {
        padding: 30px;
        background-position-x: center;
        gap: 24px;
    }

    .header-section h1 {
        font-size: 22px;
    }

    .header-section p {
        font-size: 14px;
        line-height: 21px;
    }

    .address-search-form form {
        flex-direction: column;
        align-items: center;

    }

    .address-search-form form input,
    .address-search-form form select,
    .address-search-form button {
        width: 100%;
    }

    /* our-popular-tours style */
    .our-popular-tours {
        flex-direction: column;
        gap: 50px;
        line-height: 24px;
        padding-bottom: 40px;
    }

    .popular-tours-column-1 p {
        font-size: 14px;
    }

    .popular-tours-column-1 #ul11 {
        padding-left: 25px;
    }

    .popular-tours-column-2 img {
        width: 100%;
        height: 100%;
    }

    /* choose-your-destination style */
    .choose-your-destination {
        margin-bottom: 20px;
    }

    .choose-your-destination p {
        margin: 20px;
    }

    .img-row {
        flex-direction: column;
    }

    .img-row img {
        height: 200px;
    }

    /* why-choose-us style */
    .why-choose-us {
        padding-bottom: 30px;
    }

    .why-choose-us .choose-us-des {
        margin: 20px;
    }

    .choose-row-1 {
        flex-direction: column;
        gap: 0px;
    }

    .choose-card {
        width: calc(100% - 50px);
        height: 220px;
        padding: 25px;
    }

    .choose-card h3 {
        font-size: 20px;
        margin: 16px 0;
    }

    /* newsletter style */
    .newsletter {
        flex-direction: column;
        padding-bottom: 50px;
    }

    .newsletter-form {
        width: calc(100% - 50px);
        padding: 25px;
    }

    .newsletter-form form input {
        width: 100%;
    }

    .newsletter-column-2 {
        width: 100%;
    }

    .save-up-discount {
        bottom: 35px;
        width: 214.023px;
        height: 79.268px;
    }

    .save-up-discount p {
        font-size: 15.854px;
    }

    .save-up-discount h3 {
        font-size: 21.138px;
    }

    /* footer-section style */
    .footer-section {
        padding: 50px 0;
    }

    .footer-section p {
        margin: 30px;
    }

    .footer-section hr {
        width: 100%;
    }
}